.landing-page {
  /* border: 3px solid palevioletred; */
  /* has children header-box, hero, info, quote,
  call to action, footer */
  font-family: roboto, sans-serif;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header-box,
.hero,
.footer {
  /* border: 3px solid palevioletred; */
  background-color: #1f2937;
  color: #f9faf8;
}

.header-box {
  /* border: 3px solid palevioletred; */
  /* child of landing-page */
  /* has children header-left and links-container */
  display: flex;
  /* margin: 0 auto; */
  padding: 30px;
  gap: 7px;
  justify-content: space-around;
  align-items: center;
}

.header-left {
  /* border: 3px solid palevioletred; */
  /* child of header-box  */
  /* has children logo and header */
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo,
.header {
  /* child of header-left */
  /* border: 3px solid palevioletred; */
  flex: 1;
  font-size: 24px;
}

.links-container {
  /* border: 3px solid palevioletred; */
  /* child of header-box */
  /* has children 3x li  */
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 5px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #f9faf8;
}

.hero {
  /* child of landing-page */
  /* has children hero-right, hero-left */
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero-right {
  /* child of hero */
  /* has child image */
  background-color: lightgrey;
  height: 200px;
  width: 500px;
  align-content: center;
}

.hero-left {
  /* child of hero */
  /* has children h1 p and button */
  padding: 45px;
  box-sizing: border-box;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left button {
  background-color: #3882f6;
  border-radius: 5px;
}

.info {
  border: 3px solid palevioletred;
  /* child of landing page */
  /* has children info-header, info-content */
  display: flex;
  flex-direction: column;
}

.info-header {
  border: 3px solid palevioletred;
  /* child of info */
  /* has child h2 */
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-content {
  border: 3px solid palevioletred;
  /* child of info */
  /* has children 4x pics-w-defs */
  display: flex;
}

.pics-w-defs {
  border: 3px solid palevioletred;
  /* child of info-content */
  /* has children img and p */
  
  .info-pics {
    /* child of pics-w-defs */
    /* has child img */
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}
